{% extends 'base.html' %}

{% block content %}

{% if current_user.is_authenticated %}
    <a href="/todolist" style="display: flex; justify-content: center; text-decoration: none; margin-top: 45px;">
        <button type="button" class="btn btn-info" style="color: white;">Ir para TodoList</button>
    </a>
{% else %}
    <div id="container" class="alert alert-info" role="alert"
         style="width:30%; margin-left: auto; margin-right: auto; text-align: center; margin-top: 45px;">
        Faça seu cadastro e login para começar a usar!
    </div>
{% endif %}

<div style="display: flex; justify-content: center; margin-top: 35px;">

    <img src="users/static/images/todolist.jpg"
         style=" max-width:700px; max-height:550px; width:auto; height:auto; border-style:solid;

border-width:2px; border-color: grey;">
</div>

{% endblock %}