{% extends 'base.html' %}

{% block content %}

<div style="text-align: center; width: 2020px; height: 0px;">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-primary" id="color-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add Task
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <form action="/create" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="message-text" name="description" placeholder="Enter a new task...">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Task</button>
                </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->


<div class="container mt-5 px-2" style="text-align: center; width: 800px;">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="bg-light">
                    <th scope="col" width="2%">Status</th>
                    <th scope="col" width="2%">ID</th>
                    <th scope="col" width="30%">Description</th>
                    <th scope="col" width="4%">Edit</th>
                    <th scope="col" width="2%">Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                    <tr {% if todo.status == True %} class="table-success" {% endif %}>
                        <td onclick="window.location='/update_status/{{ todo.id }}'"><input class="form-check-input" value="{{ todo.id }}" id="{{ todo.id }}" name="check" type="checkbox" {% if todo.status == True %} checked {% endif %}></td>
                        <td>{{ todo.id }}</td>
                        <td><p {% if todo.status == True %} style="text-decoration: line-through;" {% endif %}>{{ todo.description }}</p></td>
                        <td><a href="#" data-bs-toggle="modal" data-bs-target="#modalEdit{{ todo.id }}"><img src="https://img.icons8.com/dusk/30/000000/edit-property.png"/></a></td>
                        <td><a href="/remove/{{ todo.id }}"><img src="https://img.icons8.com/dusk/30/000000/filled-trash.png"/></a></td>
                    </tr>

                    <!-- Modal -->
                    <div class="modal fade" id="modalEdit{{ todo.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Edit Task</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="mb-3">
                                <form action="/update" method="post">
                                    <div class="form-group">
                                        <input type="hidden"name="id" value="{{ todo.id }}">
                                        <input type="text" class="form-control" name="description" value="{{ todo.description }}">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </form>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Modal -->
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}